<div
	*ngIf="language$ | async as language"
	class="w-screen fixed px-[90px] pt-[40px] z-[9999] bg-transparent backdrop-blur-lg"
>
	<div
		class="[90px] pt-[6px] border-b-white/10 border-b w-full flex items-center max-w-screen-lg mx-auto"
	>
		<img
			alt=""
			role="button"
			routerLink="/"
			(click)="currentSlide$.next(undefined)"
			class="object-cover z-[11] ml-auto -translate-y-5"
			src="../../../../../assets/app/logo.svg"
		/>

		<ul
			*ngIf="currentNavigation"
			class="flex items-center mx-auto text-white"
		>
			<li
				role="button"
				[routerLink]="nav.link"
				(click)="currentNavigation = nav"
				class="px-[25px] pb-[31px] hover:opacity-80 min-w-[74px ]"
				[ngClass]="{
					'opacity-50': currentNavigation.name !== nav.name,
					'border-b-2 border-white pointer-events-none':
						currentNavigation.name === nav.name
				}"
				*ngFor="let nav of NAVBAR_NAVIGATION; trackBy: trackByFn"
			>
				{{ nav.name | auto_translate }}
			</li>
		</ul>

		<div class="flex items-center -translate-y-5">
			<button
				(click)="setLanguage(language === 'en' ? 'ar' : 'en')"
				class="border border-white/50 rounded-full h-[53px] w-[53px] flex items-center justify-center text-white mx-[7px] hover:bg-white/20"
			>
				{{ language === 'en' ? 'AR' : 'EN' }}
			</button>

			<button
				(click)="focusContactUsFirstInput()"
				class="text-white font-bold w-[214px] h-[53px] bg-brand-sky rounded-l-full rounded-r-full mx-[7px]"
			>
				تواصل معنا
			</button>
		</div>
	</div>
</div>
