<!-- mt-30 -->
<div class="flex flex-col w-full bg-brand-dark-gray p-[80px]">
	<div class="text-center font-bold text-white text-[30px] mx-auto">
		شركاء النجاح
	</div>

	<div
		class="text-center font-bold text-white/70 text-[16px] w-[336px] mx-auto"
	>
		بروكا ُثريك في صناعة محتوى مرئي بإبداعات فريدة تروق لذهنك وتلامس ذائقتك
	</div>

	<div
		class="grid grid-cols-2 md:grid-cols-7 gap-[50px] mt-[50px] w-full max-w-screen-lg mx-auto"
	>
		<div
			*ngFor="
				let partner of PARTNERS;
				trackBy: trackByFn;
				let index = index
			"
		>
			<img
				class="w-full h-[131px] object-contain"
				[src]="partner"
				alt=""
			/>
		</div>
	</div>
</div>
