<ng-container *ngIf="language$ | async as language">
	<div class="flex flex-col w-full bg-black p-6 md:p-[80px] mt-20 md:mt-30">
		<div
			@fadeIn
			class="text-center font-bold text-white text-[30px] mx-auto"
		>
			ماذا نقدم في بروكا ؟!
		</div>

		<div
			@fadeIn
			class="text-center font-bold text-white/70 text-sm md:text-[16px] md:w-[578px] mx-auto"
		>
			شركة بروكا للاستشارات والحلول الإبداعية تملك من خلال فريق عملها خبرة
			تراكمية تزيد عن ١٥ سنة في مجالات تطوير الأعمال والتسويق وصناعة
			المحتوى الإبداعي والإنتاج الفني وصناعة الألعاب
		</div>

		<div
			class="grid md:grid-cols-2 gap-[32px] mt-[50px] w-full max-w-screen-lg mx-auto"
		>
			<img
				class="block object-contain md:h-full rounded-2xl md:hidden"
				src="../../../../../assets/app/about-us/bg-1.png"
				alt=""
			/>

			<div [@listAnimation]="ABOUT_SERVICES.length" class="w-full">
				<div
					[ngClass]="{
						'mb-[30px]': index !== ABOUT_SERVICES.length - 1
					}"
					*ngFor="
						let service of ABOUT_SERVICES;
						trackBy: trackByFn;
						let index = index
					"
					class="w-full flex text-center flex-col md:flex-row items-center px-6 md:px-[25px] py-[34px] rounded-[20px] bg-brand-card-dark"
				>
					<div class="flex-none mb-8 md:mt-0">
						<img
							height="81"
							width="72"
							class="object-contain rounded-full bg-brand-card-dark"
							[ngSrc]="service.icon"
							alt=""
						/>
					</div>

					<div
						[ngClass]="{
							'mr-[20px]': language === 'ar',
							'ml-[20px]': language === 'en'
						}"
					>
						<div class="text-white font-bold text-[18px]">
							{{ service.title }}
						</div>

						<div class="text-white/50 font-light text-[16px]">
							{{ service.description }}
						</div>

						<div
							class="grid gap-y-4 md:grid-cols-2 text-white mt-[20px] w-full"
						>
							<div
								class="text-[16px] flex items-center justify-center md:justify-start"
								*ngFor="
									let feature of service.features;
									trackBy: trackByFn
								"
							>
								<img
									[ngClass]="{
										'ml-[9px]': language !== 'en',
										'mr-[9px]': language === 'en'
									}"
									height="24"
									width="24"
									ngSrc="../../../../../assets/app/about-us/icons/tick-circle.svg"
									alt=""
								/>

								{{ feature }}
							</div>
						</div>
					</div>
				</div>
			</div>

			<img
				class="hidden object-contain h-full rounded-2xl md:block"
				src="../../../../../assets/app/about-us/bg-1.png"
				alt=""
			/>
		</div>
	</div>
</ng-container>
