<div
	[ngClass]="{ ' bg-brand-dark-gray': reversed, 'bg-brand-black': !reversed }"
	class="flex flex-col w-full p-[80px] min-h-[738px] relative"
>
	<div class="text-center font-bold text-white text-[30px] mx-auto">
		مستعدون لإبهارك !
	</div>

	<div
		class="text-center font-bold text-white/70 text-[16px] w-[578px] mx-auto"
	>
		بروكا ُثريك في صناعة محتوى مرئي بإبداعات فريدة تروق لذهنك وتلامس ذائقتك
	</div>

	<div class="mt-[50px] w-full max-w-screen-sm mx-auto px-6">
		<div
			class="flex items-center h-[62px] rounded-full border border-white/20 mb-[30px] w-full focus-within:ring-2 focus-within:ring-brand-purple"
		>
			<img
				class="mx-[18px]"
				src="../../../../assets/app/contact-us/user.svg"
				alt=""
			/>

			<input
				placeholder="الأسم"
				class="w-full h-full text-white bg-transparent outline-none"
			/>
		</div>

		<div
			class="flex items-center h-[62px] rounded-full border border-white/20 mb-[30px] w-full focus-within:ring-2 focus-within:ring-brand-purple"
		>
			<img
				class="mx-[18px]"
				src="../../../../assets/app/contact-us/call.svg"
				alt=""
			/>

			<input
				placeholder="رقم الجوال"
				class="w-full h-full text-white bg-transparent outline-none"
			/>
		</div>

		<div
			class="flex items-center h-[62px] rounded-full border border-white/20 mb-[30px] w-full focus-within:ring-2 focus-within:ring-brand-purple"
		>
			<img
				class="mx-[18px]"
				src="../../../../assets/app/contact-us/sms-tracking.svg"
				alt=""
			/>

			<input
				placeholder="البريد الإلكتروني"
				class="w-full h-full text-white bg-transparent outline-none"
			/>
		</div>

		<button
			class="md:hover:brightness-75 flex items-center h-[62px] rounded-full w-full bg-brand-sky text-white font-bold text-center justify-center"
		>
			طلب تصميم لعبة
		</button>
	</div>

	<div class="absolute left-0 -bottom-6">
		<img
			width="322"
			height="474"
			ngSrc="../../../../assets/app/water-mark/space-ship.png"
			alt=""
		/>
	</div>
</div>
