<div
	[ngClass]="{ ' bg-brand-dark-gray': reversed, 'bg-brand-black': !reversed }"
	class="flex flex-col w-full p-[80px] min-h-[738px] relative"
>
	<div class="text-center font-bold text-white text-[30px] mx-auto">
		مستعدون لإبهارك !
	</div>

	<div
		class="text-center font-bold text-white/70 text-[16px] w-[578px] mx-auto"
	>
		بروكا ُثريك في صناعة محتوى مرئي بإبداعات فريدة تروق لذهنك وتلامس ذائقتك
	</div>

	<div
		class="grid md:grid-cols-2 gap-[32px] mt-[50px] w-full max-w-screen-lg mx-auto"
	></div>

	<div class="absolute left-0 -bottom-6">
		<img
			width="322"
			height="474"
			ngSrc="../../../../assets/app/water-mark/space-ship.png"
			alt=""
		/>
	</div>
</div>
