<div
	*ngIf="language$ | async as language"
	class="w-screen fixed z-[9999] bg-black/5 backdrop-blur-2xl"
>
	<div
		class="pb-[3px] w-full flex py-4 items-center max-w-screen-lg mx-auto px-6 border-b-white/10 border-b -translate-y-1"
	>
		<img
			alt=""
			role="button"
			routerLink="/"
			(click)="closed = true"
			(click)="currentSlide$.next(undefined)"
			class="object-cover z-[11] w-[55px]"
			src="../../../../../assets/app/logo.svg"
		/>

		<button
			[ngClass]="{
				'ml-auto': language === 'en',
				'mr-auto': language === 'ar'
			}"
			(click)="setLanguage(language === 'en' ? 'ar' : 'en')"
			class="border border-white/50 rounded-full h-[30px] w-[30px] flex text-sm items-center justify-center text-white hover:bg-white/20"
		>
			{{ language === 'en' ? 'AR' : 'EN' }}
		</button>

		<div
			(click)="closed = !closed"
			role="button"
			class="text-white w-[40px] ,x-4 h-[40px] flex items-center justify-center active:bg-white/10 rounded-full"
		>
			<i class="text-3xl translate-y-1 bi bi-list"></i>
		</div>
	</div>

	<div @fadeIn *ngIf="!closed" class="h-[93vh] w-full relative z-9999">
		<ul class="flex flex-col mx-auto">
			<li
				role="button"
				[routerLink]="nav.link"
				(click)="currentNavigation = nav; closed = true"
				class="px-6 py-3 hover:opacity-80 min-w-[74px] border-b-white/10 border-b flex items-center"
				[ngClass]="{
					'opacity-50 text-white':
						currentNavigation.name !== nav.name,
					'  text-brand-yellow pointer-events-none ':
						currentNavigation.name === nav.name
				}"
				*ngFor="let nav of NAVBAR_NAVIGATION; trackBy: trackByFn"
			>
				{{ nav.name | auto_translate }}

				<i
					[ngClass]="{
						'ml-auto bi-chevron-right mr-4': language === 'en',
						'mr-auto bi-chevron-left ml-4': language === 'ar'
					}"
					class="bi text-white/50"
				></i>
			</li>
		</ul>
	</div>
</div>
