<div class="mr-[25px]">تابعنا علي :</div>

<div
	class="w-[50px] h-[50px] rounded-full border border-white/10 flex items-center mx-[3.5ox]"
>
	<img src="../../../../../assets/app/socials/facebook.svg" alt="" />
</div>

<div
	class="w-[50px] h-[50px] rounded-full border border-white/10 flex items-center mx-[3.5ox]"
>
	<img src="../../../../../assets/app/socials/instagram.svg" alt="" />
</div>

<div
	class="w-[50px] h-[50px] rounded-full border border-white/10 flex items-center mx-[3.5ox]"
>
	<img src="../../../../../assets/app/socials/linked-in.svg" alt="" />
</div>
