<div class="flex items-center mr-auto">
	<div class="mx-[25px]">تابعنا علي :</div>

	<div
		class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center"
	>
		<img src="../../../../../assets/app/socials/facebook.svg" alt="" />
	</div>

	<div
		class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center"
	>
		<img src="../../../../../assets/app/socials/instagram.svg" alt="" />
	</div>

	<div
		class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center"
	>
		<img src="../../../../../assets/app/socials/twitter.svg" alt="" />
	</div>

	<div
		class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center"
	>
		<img src="../../../../../assets/app/socials/linked-in.svg" alt="" />
	</div>
</div>
