<div
	[animateCSS]="['animate__fadeInDownBig', 'animate__faster']"
	class="fixed flex flex-col items-center justify-center w-full h-screen"
>
	<img
		fill=""
		alt=""
		priority="high"
		class="absolute object-cover z-[10]"
		ngSrc="../../../../../assets/app/home/bg-default.png"
	/>

	<div
		style="
			background: linear-gradient(
				180deg,
				rgba(94, 71, 150, 0.21) 0%,
				#211e51 100%
			);
		"
		class="absolute w-full h-full z-[12]"
	></div>

	<div
		class="w-full max-w-screen-xl mx-auto relative z-[13] text-center flex flex-col"
	>
		<div [animateCSS]="['animate__backInDown', 'animate__delay-2s']">
			<img
				alt=""
				height="136"
				priority="high"
				width="235.084"
				class="object-cover mx-auto z-[11] mb-9"
				ngSrc="../../../../../assets/app/logo.svg"
			/>
		</div>

		<div
			[animateCSS]="['animate__backInUp', 'animate__delay-1s']"
			class="w-full font-bold text-white text-7xl"
		>
			<span>نبتكر لأجلك نعمل لأجلك</span>

			<span class="ml-2 text-brand-yellow"> بروكا في خدمتك</span>
		</div>
	</div>
</div>
