<div class="overflow-x-auto whitespace-no-wrap hide-scrollbar relative z-[6]">
	<ul class="flex items-end">
		<li
			role="button"
			(mouseenter)="onSlideChange.emit(slide)"
			class="font-bold mr-[50px] flex flex-col"
			[ngClass]="{
				'text-white': currentSlide.id === slide.id,
				'text-outline text-black/50 font-black':
					currentSlide.id !== slide.id
			}"
			*ngFor="let slide of SLIDERS; trackBy: trackByFn"
		>
			<div
				*ngIf="currentSlide.id === slide.id"
				class="text-[16px] font-normal"
			>
				{{ slide.subTitle }} ({{ slide.id }})
			</div>

			<div class="text-[25px] xl:text-[32px]">
				{{ slide.title }}
			</div>
		</li>
	</ul>
</div>
