<div
	*ngIf="language$ | async as language"
	class="overflow-x-auto whitespace-no-wrap hide-scrollbar relative z-[6]"
>
	<ul
		[@listAnimation]="SLIDERS.length"
		class="flex flex-col md:items-end md:flex-row"
	>
		<li
			role="button"
			(click)="currentSlide$.next(slide)"
			(mouseenter)="onSlideChange.emit(slide)"
			class="flex-col mb-4 font-boldflex md:mb-0"
			[ngClass]="{
				'text-white': currentSlide.id === slide.id,
				'text-outline text-black/50 font-black':
					currentSlide.id !== slide.id,
					'text-left  mr-[50px]': language === 'en',
					'text-right   ml-[50px]': language === 'ar',
			}"
			*ngFor="let slide of SLIDERS; trackBy: trackByFn"
		>
			<div
				*ngIf="currentSlide.id === slide.id"
				class="text-[16px] font-normal"
			>
				{{ slide.subTitle | translate }} ({{ slide.id }})
			</div>

			<div class="text-[25px] xl:text-[32px]">
				{{ slide.title | translate }}
			</div>
		</li>
	</ul>
</div>
