<div class="flex w-full bg-brand-black">
	<ul
		class="w-full grid grid-cols-2 md:grid-cols-3 gap-x-[21px] p-[80px] min-h-[100vh] max-w-screen-lg mx-auto gap-y-[50px]"
	>
		<li
			*ngFor="let game of GAMES"
			role="button"
			class="bg-brand-card-dark py-[20px] px-[25px] rounded-[20px] text-center hover:ring-4 hover:ring-brand-yellow/50"
		>
			<img
				class="object-cover flex-shrink-0 rounded-[20px]"
				width="363"
				height="192"
				[ngSrc]="game.image"
				alt=""
			/>

			<div class="text-white font-black text-[25px] mt-[32px]">
				{{ game.title }}
			</div>

			<div
				class="mt-[17px] mb-[49px] max-w-[265px] text-white/60 text-[16px]"
			>
				{{ game.description }}
			</div>

			<button
				role="button"
				class="w-full py-[18px] border border-white/20 text-white rounded-full hover:bg-white/20"
			>
				{{ game.buttonTitle }}
			</button>
		</li>
	</ul>
</div>
