<ng-container *ngIf="language$ | async as language">
	<div
		class="flex flex-col w-full bg-brand-dark-gray px-6 py-16 md:p-[80px] relative"
	>
		<!-- <img
		class="bottom-0 left-0"
		src="../../../../../assets/app/water-mark/small-flower.jpeg"
		alt=""
	/> -->

		<div class="text-center font-bold text-white text-[30px]">
			شركة بروكا
		</div>

		<div
			@fadeIn
			class="text-center font-bold text-white/70 text-sm md:text-[16px] md:w-[578px] mx-auto"
		>
			رائدة في تصميم الالعاب فى السعودية من إنشاء ألعاب رائعة على مجموعة
			متنوعة من المنصات المتنوعة
		</div>

		<div
			class="w-full grid md:grid-cols-3 gap-x-[21px] max-w-screen-lg mx-auto gap-y-[30px] mt-[50px] items-center"
		>
			<div
				role="button"
				class="rounded-2xl bg-brand-card-light flex items-center px-[20px] py-[48px] justify-center hover:bg-brand-purple"
				*ngFor="let microService of MICRO_SERVICES; trackBy: trackByFn"
			>
				<img
					priority="high"
					height="74"
					width="74"
					[ngSrc]="microService.icon"
					alt=""
				/>

				<div
					[ngClass]="{
						'mr-[20px]': language === 'ar',
						'ml-[20px]': language === 'en'
					}"
					class="text-white"
				>
					<div class="text-[18px] font-bold">
						{{ microService.title }}
					</div>
					<div class="text-[16px] text-white/70">
						{{ microService.description }}
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
