<div
	[ngClass]="{ ' bg-brand-dark-gray': !reversed, 'bg-brand-black': reversed }"
	class="flex flex-col w-full p-[80px] relative pb-[150px]"
>
	<div
		class="grid md:grid-cols-5 gap-[98px] mt-[50px] w-full max-w-screen-lg mx-auto items-start justify-start"
	>
		<div class="col-span-2">
			<img
				alt=""
				role="button"
				routerLink="/"
				class="mb-[24px]"
				ngSrc=" /assets/app/logo.svg"
				width="163"
				height="94"
			/>

			<div class="text-white/70 text-[16px] font-normal max-w-[405px]">
				نحن خبراء في تصميم و تطوير المواقع و المتاجر الالكترونية ووكتابة
				المحتوى والالعاب الالكترونية و إدارة الحملات الاعلانية
			</div>
		</div>

		<div>
			<div class="font-extrabold text-white text-[20px]">
				راوبط مختصرة
			</div>

			<div class="grid grid-cols-1 gap-y-[30px] pt-[25px]">
				<div class="text-white/70">الرئيسية</div>
				<div class="text-white/70">عن الشركة</div>
				<div class="text-white/70">خدمتنا</div>
				<div class="text-white/70">الشركاء</div>
				<div class="text-white/70">اعمالنا</div>
				<div class="text-white/70">عملائنا</div>
			</div>
		</div>

		<div>
			<div class="font-extrabold text-white text-[20px]">تواصل معنا</div>
			<div class="grid grid-cols-1 gap-y-[30px] mt-[25px]">
				<div>
					<div class="text-white/70">واتس اب</div>
					<div class="text-white">923336613</div>
				</div>

				<div>
					<div class="text-white/70">البريد الالكتروني</div>
					<div class="text-white">Broca66@gamil.com</div>
				</div>

				<div>
					<div class="text-white/70">العنوان</div>
					<div class="text-white">
						شارع الملك عبدالعزيزحي بن حمد الاول
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="font-extrabold text-white text-[20px]">
				تابعنا علي :
			</div>

			<div class="grid grid-cols-1 gap-y-[14px] mt-[31px]">
				<div class="flex items-center">
					<div
						role="button"
						class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center md:hover:bg-white/10 active:opacity-80"
					>
						<img src="/assets/app/socials/facebook.svg" alt="" />
					</div>

					<div class="text-white text-[16px] mr-[12px]">فيس بوك</div>
				</div>

				<div class="flex items-center">
					<div
						role="button"
						class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center md:hover:bg-white/10 active:opacity-80"
					>
						<img src="/assets/app/socials/instagram.svg" alt="" />
					</div>

					<div class="text-white text-[16px] mr-[12px]">انستجرام</div>
				</div>

				<div class="flex items-center">
					<div
						role="button"
						class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center md:hover:bg-white/10 active:opacity-80"
					>
						<img src="/assets/app/socials/twitter.svg" alt="" />
					</div>

					<div class="text-white text-[16px] mr-[12px]">تويتر</div>
				</div>

				<div class="flex items-center">
					<div
						role="button"
						class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center md:hover:bg-white/10 active:opacity-80"
					>
						<img src="/assets/app/socials/linked-in.svg" alt="" />
					</div>

					<div class="text-white text-[16px] mr-[12px]">لينكدان</div>
				</div>
			</div>
		</div>
	</div>

	<div
		class="w-full min-h-[70px] border-t absolute bottom-0 border-white/10 text-center flex items-center"
	>
		<div
			(click)="scrollToTop()"
			role="button"
			class="flex items-center my-[20px] rounded-full"
		>
			<div
				class="w-[50px] h-[50px] rounded-full border border-white/20 flex items-center mx-[3.5px] justify-center md:hover:bg-white/10 active:opacity-80"
			>
				<img
					src="../../../../assets/app/shared/icons/arrow-up.svg"
					alt=""
					class="object-contain w-full h-full"
				/>
			</div>
		</div>

		<div class="mx-auto text-white/50 text-[16px] font-normal">
			جميع الحقوق محفوظة ©2022 لـ بروكا
		</div>

		<div></div>
	</div>
</div>
