@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: 'Black';
	src: url('./assets/fonts/LamaSans-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bold';
	src: url('./assets/fonts/LamaSans-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Normal';
	src: url('./assets/fonts/LamaSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body,
html {
	font-family: 'Normal', sans-serif;
	overflow-x: hidden;
}

.text-outline {
	-webkit-text-stroke: 0.1px rgba(250, 250, 250, 0.9); /* Adjust the color and width as needed */
}
